.layers-container {
    padding: 2px;
}

.layer-item {
    display: flex;
    background-color: var(--background-light);
    border: var(--border-light);

    text-align: left;
    align-content: center;
    padding: 5px 8px;

    cursor: pointer;
    overflow: auto;
}

.layer-item:hover {
    background-color: var(--background-highlight);
}

.layer-item-selected {
    background-color: var(--background-selected);
    border: var(--border-active);
}

.layer-item-title {
    flex: auto;
    margin: 0 5px;
    min-width: 100px;
    align-self: center;
    height: 20px;
}

.layer-item-button {
    background-color: var(--background-lighter);
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

.layer-item-button:not(:last-child) {
    margin-right: 5px;
}

.layer-item-button:hover:not(.layer-item-viewable) {
    background-color: var(--background-highlight);
}

.layer-item-viewable {
    background-color: var(--background-dark);
    border: var(--border-disabled);
}

.layer-add-item {
    margin-top: 20px;
    padding: 3px 0;
    height: fit-content;

    background-color: var(--background-dark);
    color: var(--font-light);
    border: 1px solid var(--border-lighter);
}

.layer-add-item:hover {
    background-color: var(--background-highlight-dark);
}

.layer-item-movement-group {
    margin: auto;
    width: 20px;
}

.layer-item-movement-button {
    margin: auto;
    width: 20px;
    height: 20px;
}