.texture-editor-ribbon {
  display: flex;

  background-color: var(--secondary-background);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  padding: 5px 10px;
  align-content: space-between;
}

.ribbon-menu {
  text-align: left;
}

.ribbon-menu-button {
  background-color: var(--secondary-background);
  color: var(--font-light);
  border-radius: 5px;

  padding: 3px 12px;
}

.ribbon-menu-button:hover {
  background-color: var(--background-lighter);
  color: var(--font-light);
}

.menu {
  position: absolute;

  background-color: var(--primary-background);

  padding: 5px;

  min-width: 256px;

  text-align: left;
}

.menu-button {
  color: var(--font-light);
  padding: 3px 8px;
}

.menu-button:nth-child() {
  margin-top: 10px;
}

.menu-button:hover {
  background-color: var(--secondary-background);

  color: var(--font-light);
}

.menu-break {
  background-color: var(--highlight);

  height: 4px;
  margin: 5px 3px;
  border-radius: 3px;
}
