.collapsable-container-group {
  background-color: var(--group-background);
  max-height: 0;
  overflow: hidden;

  user-select: none;
  
  transition: max-height 0.2s ease-out;
}

.collapsable-container-group-trigger {
  background-color: var(--primary-background);
  border-bottom: var(--border-draggable);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}