.config-gui-container {
    margin: 0 50px;
    padding: 20px;
    border: 1px solid white;
    background-color: rgba(0, 26, 255, 0.1);
    color: white;
}

.form-container {
    max-width: 600px;
    background-color: #ccc;
    margin: 0 auto;
    padding: 20px;
    color: black;
}