html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-background);
  margin: 0;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header,
footer {
  color: var(--font-light);
  overflow: hidden;
  padding: 5px;
}

header {
  background-color: var(--header-background);
  border-bottom: var(--border-default);
}

main {
  background-color: var(--main-background);
  border-left: var(--border-default);
  border-right: var(--border-default);

  flex: auto;
}

footer {
  background-color: var(--footer-background);
  border-top: var(--border-default);
  text-align: center;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: aqua;
}

.hidden {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}