.nav-bar {
  background-color: var(--background-light);
  padding: 5px 10px;
  margin: 0;
}

.nav-bar-button {
  display: inline-block;
  background-color: var(--background-dark);
  padding: 3px;
}

.nav-bar-button:not(:first-child) {
  margin-left: 10px;
}

.nav-bar-button:hover {
  background-color: var(--background-lighter);

  transition: background-color 0.1s ease-in-out;
}