.texture-editor-ribbon {
    display: flex;
    align-content: space-between;
    background-color: #333;
    padding: 5px 10px;
}

.ribbon-menu {
    text-align: left;
}

.ribbon-menu-button {
    background-color: #333;
    color: #DDD;
    padding: 3px 12px;
    border-radius: 5px;

}

.ribbon-menu-button:hover {
    background-color: #555;
    color: white;
}

.menu {
  position: absolute;
  padding: 5px;
  background-color: #222;
  text-align: left;
  min-width: 256px;
}

.menu-button {
  color: white;
  padding: 3px 8px;
}

.menu-button:nth-child() {
  margin-top: 10px;
}

.menu-button:hover {
  color: white;
  background-color: #333;
}

.menu-break {
  height: 4px;
  background-color: #666;
  margin: 5px 3px;
  border-radius: 3px;
}