.context-menu {
  position: absolute;

  background-color: black;
  border: 1px solid white;

  list-style: none;
  padding: 5px;
  min-width: 100px;
}

.context-menu-item {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 2px 5px;
}

.context-menu-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
