.floater-container {
    position: absolute;

    min-width: 32px;
    width: fit-content;
    background-color: var(--background-lighter);
    padding: 10px;
    
    border-radius: 10px;

    border-top: var(--border-draggable);

    overflow-x: scroll;
    resize: both;

    user-select: none;
}

.floater-group-list {
    list-style-type: none;
    padding: 0;
}

.floater-group {
    background-color: var(--secondary-background);
    border-radius: 10px;
    padding-top: 5px;
}

.floater-group:not(:first-child):not(:last-child) {
    margin: 10px 0;
}

.floater-group-title {
    padding: 2px 0;
    color: var(--font-light);
    user-select: none;
}

.container-group {
    margin: 0 5px;
}

